@media (max-width : 768px) {
  .header-inner-left__logo{
    width: 25vw;
   }
  .header-inner-left__description{
    display: none;
  }
}

@media (max-width : 834px) {
  .main-menu{
    width: 40vw;
  }
}

