@media (max-width: 1024px) {
  .header-inner{
    height: 110px;
    &-left{      
      &__description{
        margin-bottom: -11px;
      }
    }
  }
  .header-inner-left__logo{
    width: 33%;
  }
}
