@charset "UTF-8";
/* 1_desctop-от 1600 до 1920 */
/* ====== 1 Прижать футер */
/* 1) */
html, body {
  height: 100%;
  background-color: #212323; }

/* 2) */
.main-container {
  min-height: 100%; }

/* 3) + цвет фона + центрирование содержимого*/
footer {
  height: 66px;
  margin-top: -66px; }

/* 4) */
.clr {
  height: 66px; }

@media (max-width: 768px) {
  footer {
    height: 90px;
    margin-top: -90px; }

  .clr {
    height: 90px; } }
/* ширина/границы сетки */
/* .g-colscr - сетка-колонки экрана */
/* .g-rowpd - блок/строка отступы верх-низ */
.g-colscr {
  width: 91.45%;
  margin: 0 auto;
  box-sizing: border-box; }

@media (max-width: 1600px) {
  .g-colscr {
    width: 91%; } }
@media (max-width: 1280px) {
  .g-colscr {
    width: 89.53%; } }
@media (max-width: 1024px) {
  .g-colscr {
    width: 93.94%; } }
@media (max-width: 986px) {
  .g-colscr {
    width: 92.7%; } }
@media (max-width: 480px) {
  .g-colscr {
    width: 88.33%; } }
@media (max-width: 360px) {
  .g-colscr {
    width: 89.44%; } }
/* 1) для блоков */
.col-right {
  display: flex;
  justify-content: flex-end; }

.col-right-inner {
  width: 83%;
  padding-top: 32px;
  padding-bottom: 68px;
  border-top: 1px solid #626262; }

@media (max-width: 1280px) {
  .col-right-inner {
    width: 77.8%; } }
@media (max-width: 1024px) {
  .col-right {
    display: flex;
    justify-content: flex-start; }

  .col-right-inner {
    width: 100%; } }
@media (max-width: 768px) {
  .col-right-inner {
    padding-top: 32px;
    padding-bottom: 34px; } }
.hidden {
  display: none; }

.first-font, p, footer p, a {
  font-family: 'Unbounded', 'Montserrat', Verdana, 'Geneva', sans-serif; }

p {
  font-size: 1em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.025em;
  color: #626262; }

.cases-cols-col__description p {
  font-size: 1em; }

@media (max-width: 1280px) {
  .cases-cols-col__description p {
    font-size: 0.875em; } }
@media (max-width: 1280px) and (max-width: 480px) {
  .cases-cols-col__description p {
    font-size: 0.75em; } }
@media (max-width: 1280px) and (max-width: 360px) {
  .cases-cols-col__description p {
    font-size: 0.625em; } }
footer p {
  font-size: 0.875em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.025em;
  color: #626262; }

a {
  font-size: 1em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.025em;
  color: #626262;
  text-decoration: none; }
  a:hover {
    color: #FEFAFE; }

.burger-container {
  display: none; }

@media (max-width: 1024px) {
  .burger-container {
    display: block; }

  .header-inner-left__desctop-menu {
    display: none; } }
.header-inner {
  height: 134px;
  display: flex;
  justify-content: space-between; }
  .header-inner-left {
    display: flex;
    align-items: center;
    position: relative; }
    .header-inner-left__logo {
      margin-right: 90px; }
    .header-inner-left__description {
      margin-bottom: -38px; }
    .header-inner-left__desctop-menu {
      position: absolute;
      top: 145px;
      left: 0; }

.burger-container {
  position: relative; }
  .burger-container input[type="checkbox"] {
    height: 32px;
    width: 30px;
    display: block;
    position: absolute;
    top: 36px;
    right: -6px;
    z-index: 130;
    opacity: 0; }

.burger-lines {
  display: block;
  height: 10px;
  width: 24px;
  position: absolute;
  top: 51px;
  right: 0px;
  z-index: 120;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.burger-lines .line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: #FEFAFE; }

.burger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out; }

.burger-lines .line2 {
  transform-origin: 0% 120%;
  transition: transform 0.4s ease-in-out; }

.main-menu {
  width: 26vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 110;
  top: 0;
  right: 0;
  background-color: #212323;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.25);
  transform: translateX(120%);
  transition: transform 0.5s ease-in-out; }
  .main-menu nav {
    width: 100%; }
  .main-menu__item {
    display: flex;
    column-gap: 60px;
    justify-content: center;
    padding: 20px 0 20px 0; }
    .main-menu__item:hover {
      background-color: #2D2D2D; }

.burger-container input[type="checkbox"]:checked ~ .main-menu {
  transform: translateX(0); }

.burger-container input[type="checkbox"]:checked ~ .burger-lines .line1 {
  transform: rotate(20deg); }

.burger-container input[type="checkbox"]:checked ~ .burger-lines .line2 {
  transform: rotate(-20deg); }

.cases-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; }
  .cases-cols-col {
    width: calc((100% / 3) - 7px);
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2D2D; }
    .cases-cols-col__description {
      width: 100%;
      height: 100%;
      padding: 24px 0px 26px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle; }
      .cases-cols-col__description p {
        text-align: center;
        line-height: 110%; }

.footer-border-inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #626262; }

/* 2_desctop-от 1280 до 1600 */
@media (max-width: 1600px) {
  .cases-cols-col__description {
    padding: 16px 0px 20px 0px; } }
/* 3_desctop-от 1024 до 1280 */
@media (max-width: 1280px) {
  .header-inner {
    height: 122px; }
    .header-inner-left__logo {
      width: 40%;
      margin-right: 88px; }
    .header-inner-left__description {
      margin-bottom: -25px; }

  .main-menu {
    width: 33vw; }
    .main-menu__item {
      column-gap: 40px; } }
@media (max-width: 1280px) {
  .cases-cols-col {
    padding: 13px 13px 0 13px; }
    .cases-cols-col__description {
      padding: 12px 0px 16px 0px; } }
/* 4_tablet-от 768 до 1024 */
@media (max-width: 1024px) {
  .header-inner {
    height: 110px; }
    .header-inner-left__description {
      margin-bottom: -11px; }

  .header-inner-left__logo {
    width: 33%; } }
/* 5_tablet-от 480 до 768*/
@media (max-width: 768px) {
  .header-inner-left__logo {
    width: 47%; }

  .header-inner-left__description {
    display: none; } }
@media (max-width: 834px) {
  .main-menu {
    width: 40vw; } }
@media (max-width: 768px) {
  .cases-cols-col {
    width: calc((100% / 2) - 5px);
    padding: 14px 14px 0 14px; } }
@media (max-width: 768px) {
  .footer-border-inner {
    height: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer-border-inner p {
      text-align: center; } }
/* 6_mob-от 360 до 480*/
@media (max-width: 480px) {
  .header-inner {
    height: 100px; }

  .burger-container input[type="checkbox"] {
    top: 32px; }

  .burger-lines {
    top: 46px; }

  .main-menu {
    width: 68vw; } }
@media (max-width: 480px) {
  .cases-cols-col {
    padding: 0px 0px 0px 0px; }
    .cases-cols-col__description {
      padding: 12px 5px 16px 5px; } }
/* 7_mob-до 360*/
@media (max-width: 360px) {
  .main-menu {
    width: 84vw; } }
@media (max-width: 360px) {
  .cases-cols-col__description {
    padding: 10px 5px 12px 5px; } }

/*# sourceMappingURL=style.css.map */
