.first-font {
  font-family: 'Unbounded', 'Montserrat', Verdana, 'Geneva', sans-serif;
}

// .second-font {
//   font-family: 'PT-Mono', 'Fira Mono', 'Lucida Console', 'Monaco', monospace;
// }



// ********************** h1
p {
  @extend .first-font;
    font-size: 1em; //40px
    font-weight: 400; //regular
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.025em;
    color: $p-header;
  }
.cases-cols-col__description p{
  font-size: 1em;
}
@media (max-width : 1280px){
  .cases-cols-col__description p{
    font-size: 0.875em;
  }

@media (max-width : 480px){
  .cases-cols-col__description p{
    font-size: 0.75em;
  }
}
@media (max-width : 360px){
  .cases-cols-col__description p{
    font-size: 0.625em;
  }
}
  }
footer p {
    @extend .first-font;
      font-size: 0.875em; //40px
      font-weight: 400; //regular
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.025em;
      color: $p-header;
    }
a {
  @extend .first-font;
    font-size: 1em; //40px
    font-weight: 400; //regular
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.025em;
    color: $desctop-menu-header;
    text-decoration: none;
    &:hover{
      color: $desctop-menu-hover-header;
    }
  }