/* ====== 1 Прижать футер */
/* 1) */
html, body {
  height: 100%;
  background-color: $body-bg;
}

/* 2) */
.main-container {
  min-height: 100%;
}

/* 3) + цвет фона + центрирование содержимого*/
footer {
  height: 66px;
  margin-top: -66px;
}
/* 4) */
.clr {
  height: 66px;
}
// @media (max-width : 360px) {
//   footer{
//     height: 150px;
//     margin-top: -150px;
//   }
//   .clr {
//     height: 150px;
//   }
// }
// конец правила для прижатия футера

// ====== 2 стили ширина и границы сетки
/* ширина/границы сетки */
/* .g-colscr - сетка-колонки экрана */
/* .g-rowpd - блок/строка отступы верх-низ */
.g-colscr {
  width: 91.45%; // 1756/1920
  margin: 0 auto;
  //outline: 1px solid rgb(216, 10, 10);
  box-sizing: border-box;
  //background-color: yellow;
}
@media (max-width : 1600px) {
  .g-colscr {
    width: 91%; // 1456/1600
  }
}
@media (max-width : 1280px) {
  .g-colscr {
    width: 89.53%; // 1146/1280
  }
}
@media (max-width : 1024px) {
  .g-colscr {
    width: 93.94%; // 962/1024
  }
}
@media (max-width : 986px) {
  .g-colscr {
    width: 92.7%; // 712/768
  }
}
@media (max-width : 480px) {
  .g-colscr {
    width: 88.33%; // 424/480
  }
}
@media (max-width : 360px) {
  .g-colscr {
    width: 89.44%; // 322/360
  }
}

// ====== 3 стили для отступов сверху-снизу секции
/* 1) для блоков */
.g-rowpd_header{
  // padding-top: 20px;
  // padding-bottom: 20px;
}
.g-rowpd_cases {
  // padding-top: 40px;
  // padding-bottom: 50px;
}
// ========= правая колонка
.col-right{
  display: flex;
  justify-content: flex-end;
}
.col-right-inner{
  width: 83%;
  padding-top: 32px;
  padding-bottom: 68px;
  border-top: 1px solid $menu-border;
}

@media (max-width : 1600px) {

}
@media (max-width : 1280px) {

}
@media (max-width : 1024px) {
  .col-right{
    display: flex;
    justify-content: flex-start;
  }
  .col-right-inner{
    width: 100%;
  }
}
@media (max-width : 480px) {

}
@media (max-width : 360px) {

}
// ============================
.hidden{
  display: none;
}
