$body-bg: #212323;
$text-p: white;
$p-header: #626262;
$desctop-menu-header: #626262;
$menu-border: #626262;
$desctop-menu-hover-header: #FEFAFE;
$bg-cases: #2D2D2D;



$gradient-main: linear-gradient(90deg, #899ABA 0%, #8AD4C2 38.52%, #5B7EBF 68.75%);

$white-grey: #FEFAFE;
$body-bg-lighter: #2D2D2D;


